body{
    font-family: Arial, sans-serif;
    background-color: rgb(229, 229, 205); 
    margin: 20px;
}

.block-menu a{

    width: 200px;
    background-color: rgb(8, 90, 117);
    color:white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0px;
}
.inline-menu a{
    width: 150px;
    background-color: rgb(28, 160, 28);
    color:white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 5px;
    display: inline-block;
}
.Inline-Block-Menu a{
    width: 150px;
    background-color: rgb(160, 28, 28);
    color:white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 5px;
    display: inline-block;
}
.float-menu a{
    width: 150px;
    background-color: rgb(117, 8, 90);
    color:white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 5px;
    float: left;
}